var settings = {};

settings.plug_auth = 'XXXXXXXXXXXXXXXXXXXXXXXXXXX=?_expires=XXXXXXXXXXXXXXXXXX==&user_id=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX===';
settings.plug_room = 'pit-of-no-shame';

// settings.dbname = 'databasename';
// settings.dbhost = 'localhost';
// settings.dbport = '5432';
// settings.dbuser = 'username';
// settings.dbpass = 'password';
// settings.dbreadonly = true;

settings.debug = false;

module.exports = settings;
