var settings = {};

settings.token  = 'auth+live+xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';
settings.userid = 'xxxxxxxxxxxxxxxxxxxxxxxx';
settings.roomid = 'xxxxxxxxxxxxxxxxxxxxxxxx';

settings.laptop = 'mac';

settings.debug = false;

module.exports = settings;
